<div class="row ">
  <div class="col-md-8">
    <div class="row">
      <div *ngFor="let quote of quotes; let i=index" class="card col-md-6" style="width: 18rem;">
        <div class="card-header">
          Quote {{ quote.id}}
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Quote: {{ quote.text}}</li>
          <li class="list-group-item">Author: {{ quote.author}}</li>
          <li class="list-group-item">Date: {{ quote.date|date}}</li>
          <i class="fas fa-thumbs-up" (click)="upVote(i)"></i>{{ quote.upvote}} <i class="fas fa-thumbs-down" (click)="downVote(i)"></i>{{ quote.downvote}}
         
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-4">
<app-quote-form></app-quote-form>
  </div>
</div>
