<div class="container-fluid">
    <h2 class="text-center">Create a new Goal</h2>
    <hr>
    <form >
        <div class="form-group">
  
            <label for="name">Quote</label>
            <input type="text" class="form-control" id="text" [(ngModel)]="newQuote.text" name="text" #text='ngModel' required>
            <div [hidden]="text.valid || text.pristine" class="alert alert-danger">
              <p>Quote is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="author">Author</label>
            <textarea class="form-control" id="author" rows="4" [(ngModel)]="newQuote.author" name="author" #author="ngModel" required></textarea>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
              <p>Author is required</p>
            </div>
        </div>
        <div class="form-group">
  
            <label for="complete"></label>
            <input type='date' id="date" [(ngModel)]="newQuote.date" name="date" #date="ngModel" required>
            <div [hidden]="date.valid || date.pristine" class="alert alert-danger">
              <p>Date is required</p>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form> 
  </div>
